@model IEnumerable<QuanLiTinTuc.Models.TinTuc>

@{
    ViewBag.Title = "SuaXoaTinTuc";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .card {
        margin: 0 30px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h1 style="font-size: 32px; line-height: 150%; font-family: 'Merriweather',serif; font-weight: bold; margin-top: 25px; margin-bottom: 15px; color: #9f224e; text-align: center;">
    Sửa xóa tin tức
</h1>

<div class="card">
        <!-- /.container-fluid -->


    <div class="d-flex" style="width: auto; margin: 8px;">
        <div class="input-group input-group-sm">
            <div class="">
                    <a href="/QuanLiTinTuc/ThemTinTuc" type="button" class="btn btn-block btn-primary btn-sm">Thêm mới tin tức</a>
            </div>
        </div>
        @*Tìm kiếm theo tiêu đề*@
        <div class="input-group input-group-sm">
            <input type="text" name="txt_search" id="txt_search" class="form-control float-right" placeholder="Tìm kiếm theo tiêu đề">
            <div class="input-group-append">
                <button id="btn_search_action" type="button" class="btn btn-default" onclick="searchTinTuc()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        @*Tìm kiếm theo chủ đề*@
        <div class="input-group input-group-sm ml-2"  style="width: 600px;">
            <select id="ddl_chude" class="form-control">
                <option selected value="">Tất cả chủ đề</option>
                <option value="TheGioi">Thế Giới</option>
                <option value="KinhDoanh">Kinh Doanh</option>
                <option value="BatDongSan">Bất Động Sản</option>
                <option value="KhoaHoc">Khoa Học</option>
                <option value="GiaiTri">Giải Trí</option>
                <!-- Thêm các option khác tương ứng với danh sách chủ đề của bạn -->
            </select>
            <div class="input-group-append">
                <button id="btn_filter_action" type="button" class="btn btn-default" onclick="searchTinTuc()">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>

    </div>

    <table>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Ngày đăng
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Chủ đề
            </th>
            <th></th>
        </tr>
        @{
            int stt = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TieuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuDe)
                </td>
                <td>
                    <div style="display: flex;">
                        <a class=' btn  btn-outline-warning border-0' href="/QuanLiTinTuc/SuaTinTucView?Id=@item.Id" style="margin-right: 4px;">
                            <i class='fa fa-pen'> </i>
                        </a>
                        <a class="btn btn-outline-danger border-0" onclick="return confirmDelete(@item.Id)">
                            <i class='fa fa-trash'></i>
                        </a>
                    </div>
                </td>
            </tr>
            stt++;
        }
    </table>
</div>

<script>
    function confirmDelete(id) {
        var result = window.confirm("Bạn có chắc chắn muốn xóa không?");
        if (result) {
            window.location.href = "/QuanLiTinTuc/XoaTinTuc?Id=" + id;
        }
        return false;
    }
</script>


<script>
    $('#ddl_chude').change(function () {
        searchTinTuc()
    });

    function searchTinTuc() {
        var keyword = $("#txt_search").val();
        var selectedChuDe = $("#ddl_chude").val();

        // Lưu giá trị keyword và selectedChuDe vào sessionStorage để giữ nguyên sau khi trang tải lại
        sessionStorage.setItem("searchKeyword", keyword);
        sessionStorage.setItem("selectedChuDe", selectedChuDe);

        window.location.href = "/QuanLiTinTuc/TimKiemTinTuc?keyword=" + keyword + "&chuDe=" + selectedChuDe;
    }

    $(document).ready(function () {
        // Lấy giá trị keyword và selectedChuDe từ sessionStorage và đặt vào ô tìm kiếm và dropdown
        var storedKeyword = sessionStorage.getItem("searchKeyword");
        var storedChuDe = sessionStorage.getItem("selectedChuDe");

        if (storedKeyword) {
            $("#txt_search").val(storedKeyword);
        }

        if (storedChuDe) {
            $("#ddl_chude").val(storedChuDe);
        }

        // Nghe sự kiện keypress trên ô tìm kiếm
        $("#txt_search").keypress(function (event) {
            // Kiểm tra nếu phím Enter được nhấn (keyCode 13)
            if (event.which === 13) {
                // Thực hiện tìm kiếm
                searchTinTuc();
            }
        });
    });
</script>

