@model IEnumerable<QuanLiTinTuc.Models.TinTuc>

@{
    ViewBag.Title = "SuaXoaTinTuc";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .card {
        margin: 0 30px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h1 style="font-size: 32px; line-height: 150%; font-family: 'Merriweather',serif; font-weight: bold; margin-top: 25px; margin-bottom: 15px; color: #9f224e; text-align: center;">
    Sửa xóa tin tức
</h1>

<div class="card">
    <div class="input-group input-group-sm ml-auto" style="width: 250px;">
        <input type="text" name="txt_search" id="txt_search" class="form-control float-right" placeholder="Tìm kiếm theo tiêu đề">
        <div class="input-group-append">
            <button id="btn_search_action" type="button" class="btn btn-default" onclick="searchTinTuc()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <table>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Ngày đăng
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Chủ đề
            </th>
            <th></th>
        </tr>
        @{
            int stt = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TieuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuDe)
                </td>
                <td>
                    <div style="display: flex;">
                        <a class=' btn  btn-outline-warning border-0' href="/QuanLiTinTuc/SuaTinTucView?Id=@item.Id" style="margin-right: 4px;">
                            <i class='fa fa-pen'> </i>
                        </a>
                        <a class="btn btn-outline-danger border-0" onclick="return confirmDelete(@item.Id)">
                            <i class='fa fa-trash'></i>
                        </a>
                    </div>
                </td>
            </tr>
            stt++;
        }
    </table>
</div>

<script>
    function confirmDelete(id) {
        var result = window.confirm("Bạn có chắc chắn muốn xóa không?");
        if (result) {
            window.location.href = "/QuanLiTinTuc/XoaTinTuc?Id=" + id;
        }
        return false;
    }
</script>


<script>
    function searchTinTuc() {
        var keyword = $("#txt_search").val();

        // Lưu giá trị keyword vào sessionStorage để giữ nguyên sau khi trang tải lại
        sessionStorage.setItem("searchKeyword", keyword);

        window.location.href = "/QuanLiTinTuc/TimKiemTinTuc?keyword=" + keyword;
    }

    // Hàm này sẽ chạy khi trang được tải lại
    $(document).ready(function () {
        // Lấy giá trị keyword từ sessionStorage và đặt vào ô tìm kiếm
        var storedKeyword = sessionStorage.getItem("searchKeyword");
        if (storedKeyword) {
            $("#txt_search").val(storedKeyword);
        }

        // Nghe sự kiện keypress trên ô tìm kiếm
        $("#txt_search").keypress(function (event) {
            // Kiểm tra nếu phím Enter được nhấn (keyCode 13)
            if (event.which === 13) {
                // Thực hiện tìm kiếm
                searchTinTuc();
            }
        });
    });
</script>
